@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --primary-color: #6c63ff;
    --secondary-color: #a8a3ff;
    --success-color: #00bf84;
    --warning-color: #f7c94b;
    --danger-color: #f75842;
    --danger-variant-color: rgba(247, 88 ,66 , .4);
    --white-color: #fff;
    --light-color: rgba(255, 255, 255, .7);
    --black-color: #000;
    --bg-color: #1f2641;
    --bg1-color: #2e3267;
    --bg2-color: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--white-color);
    background: var(--bg-color);
}

html::-webkit-scrollbar {
    width: .8rem;
}
  
html::-webkit-scrollbar-track {
    background: transparent;
}
  
html::-webkit-scrollbar-thumb {
    background: var(--bg2-color);
    border-radius: 2rem;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
    text-transform: capitalize;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--white-color);
}

img{
   width: 100%;
   display: block;
   object-fit: cover; 
}

.btn{
    display: inline-block;
    background: var(--white-color);
    color: var(--black-color);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--white-color);
    border-color: var(--light-color);
}

.btn-primary{
    background: var(--danger-color);
    color: var(--white-color);
}

/********************* NAVBAR ***************************/
nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.window-scroll{
    background: var(--bg1-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.nav-menu a{
    font-size: 1rem;
    transition: all 400ms linear;
}

.nav-menu a:hover,.nav-menu a#current-page{
    color: var(--secondary-color);
    border-bottom: .3rem solid var(--secondary-color);
}

.nav-menu a#current-page{
    pointer-events: none;
}

#open-menu-btn{
    background: transparent;
    font-size: 1.8rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

/********************* HEADER ***************************/
header{
    position: relative;
    top: 5rem;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 5rem;
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    gap: 5rem;
}

.header-left p{
    margin: 1rem 0 2.4rem;
}

/********************* CATEGORY ***************************/
.categories{
    background: var(--bg1-color);
    height: 32rem;
}

.categories h2{
    margin-bottom: 2rem;
}

.categories-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories-left{
    margin-right: 4rem;
}

.categories-left p{
    margin: 1rem 0 2rem;
}

.categories-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category{
    background: var(--bg2-color);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    text-align: center;
}

.category:hover{
    box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.category-item{
    background: var(--primary-color);
    padding: 1.2rem 1rem .8rem;
    border-radius: 1rem;
}

.category-item i{
    font-size: 1.3rem;
}

.category:nth-child(2) .category-item{
    background: var(--danger-color);
}

.category:nth-child(3) .category-item{
    background: var(--success-color);
}

.category:nth-child(4) .category-item{
    background: var(--warning-color);
}

.category:nth-child(5) .category-item{
    background: var(--success-color);
}

.category h5{
    margin: 1rem auto;
}

.category p {
    font-size: 1rem;
}

/********************* COURSES ***************************/
.courses{
    margin-top: 10rem;
}

.courses h2{
    margin-bottom: 2rem;
}

.courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course-img{
    width: 50%;
    margin: 1rem;
    text-align: center;
    margin: 0 auto;
    padding-top: .5rem;
}

.course,.course-detail{
    background: var(--bg1-color);
    border: 1px solid transparent;
    border-radius: 2rem;
    text-align: center;
    transition: var(--transition);
}

.course:hover{
    background: var(--bg2-color);
    box-shadow: 1rem 1rem 1rem 0 rgba(109, 85, 218, 0.3);
    z-index: 1;
}

.course-info{
    padding: 1rem;
}

.course-info p{
    margin: 1rem auto;
}

.courses-page{
    margin-top: 0;
}

.course-detail:hover{
    filter: drop-shadow(0 0 .7em var(--bg2-color));
}

.course-detail img{
    border-radius: 1rem;
}

/********************* QUESTIONS ***************************/
.questions{
    background: var(--bg1-color);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.questions-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.question{
    background: var(--primary-color);
    border-radius: .5rem;
    padding: 2rem;
    align-items: center;
    display: flex;
    gap: 1rem;
    height: fit-content;
    cursor: pointer;
}

.question h4{
    font-size: 1rem;
    line-height: 2.2;
}

.question-item{
    align-self: flex-start;
    font-size: 1.2rem;
}

.question p {
    margin-top: 0.8rem;
    display: none;
}

.question.show p{
    display: block;
}

/********************* TESTIMONIAL ***************************/
.testimonials-container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial{
    padding-top: 2rem;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem dashed var(--bg1-color);
}

.testimonial-info{
    text-align: center;
}

.testimonial-comment{
    background: var(--primary-color);
    margin-top: 3rem;
    padding: 2rem;
    position: relative;
}

.testimonial-comment::before{
    background: linear-gradient(135deg, transparent, var(--primary-color), var(--primary-color));
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

.testimonials-container .swiper-pagination-bullet{
	background: var(--danger-color);
}

/********************* FOOTER ***************************/
footer{
    background: var(--bg1-color);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    padding-top: 5rem;
    font-size: .9rem;
}

footer ul li{
    margin-bottom: .5rem;
}

footer ul li a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-container{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.footer-container > div h4{
    margin-bottom: 1.5rem;
}

.footer-1 p{
    margin: 1rem 0 2rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.footer-copyright{
    margin: 3rem 0 1rem 0;
    text-align: center;
    border-top: 1px solid var(--bg2-color);
    padding-top: 1rem;
}

/********************* ABOUT ***************************/
.achievements{
    margin-top: 3rem;
}

.achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.achivement-right >p{
    margin: 1rem 0 2rem 0;
}

.achievement-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem
}

.card{
    background: var(--bg1-color);
    padding: 1.5rem;
    border-radius: .5rem;
    text-align: center;
    transition: var(--transition);
}

.card:hover{
    background: var(--bg2-color);
    filter: drop-shadow(0 0 .7em var(--bg2-color));
}

.card .item{
    background: var(--danger-color);
    padding: 0 1rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.card:nth-child(2) .item{
    background: var(--success-color);
}

.card:nth-child(3) .item{
    background: var(--warning-color);
}

/********************* TEAM ***************************/
.team{
    background: var(--bg1-color);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, .2);
}

.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.team-member{
    background: var(--bg2-color);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team-member:hover{
    background: transparent;
    border-color: var(--primary-color);
}

.team-member img{
    background-color: var(--light-color);
    filter: saturate(0.5);
}

.team-member:hover img{
    filter: saturate(1);
}

.member-info *{
    text-align: center;
    margin-top: 1.5rem;
}

.member-socials{
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-50%);
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, .3);
    transition: var(--transition);
}

.team-member:hover .member-socials{
    right: 0;
}

.member-socials a{
    padding: 1rem;
}

.member-socials a:hover{
    color: var(--danger-color);
}

/********************* CONTACT ***************************/
.contact-container{
    background: var(--bg1-color);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 25rem;
    border-radius: 1rem;
    margin: 1.5rem auto;
}

.contact-left{
    background: var(--bg2-color);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    bottom: 5.5rem;
    height: 28rem;
}

.contact-left h4{
    text-align: center;
    margin: 2rem auto;
}

.contact-left-img{
    margin: 1rem auto;
}

.contact-socials {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    justify-content: center;
}

.contact-socials a{
    padding: .6rem .8rem;
    background: var(--primary-color);
    border-radius: 50%;
}

.contact-socials a:hover{
    background: var(--bg-color);
    color: var(--primary-color);
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 4rem;
    margin-top: -1.5rem;
}

.form-name{
    display: flex;
    gap: 1rem;
}

.contact-form input[type="text"]{
    width: 50%;
}

.contact-form input, .contact-form textarea{
    background: var(--bg-color);
    width: 100%;
    padding: 1rem;
    color: var(--white-color);
}

.contact-form .btn{
    width: max-content;
    cursor: pointer;
    margin-top: .5rem;
    align-self: center;
}

/********************* BACK TO TOP ***************************/
#back-to-top{
    background: var(--white-color);
    position: fixed;
    text-align: center;
    transition: all .5s ease 0s;
    z-index: 2;
    right: 5rem;
    bottom: 1.8rem;
    margin: 0 auto;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 1.8rem;
    border-radius: 3rem;
    cursor: pointer;
    filter: drop-shadow(0 0 .1rem var(--white-color));
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
}

#back-to-top.show{
    bottom: 1.8rem;
    pointer-events: auto;
    opacity: 1;
}

#back-to-top i{
    color: var(--bg1-color);
    display: inline-block;
    line-height: 2.8rem;
    font-size: 2rem;
}

/********************* MEDIA QUERIES ***************************/
@media screen and (max-width: 1024px){  
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }
    
    h2{
        font-size: 1.8rem;
    }
    
    h3{
        font-size: 1.4rem;
    }
    
    h4{
        font-size: 1.1rem;
    }

    header{
        height: 60vh;
        margin-bottom: 6rem;
    }

    .header-container{
        gap: .5rem;
    }

    .categories{
        height: auto;
    }

    .categories-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories-left{
        margin-right: 0;
    }

    .courses{
        margin-top: 0;
    }

    .courses-container{
        grid-template-columns: 1fr 1fr;
    }

    .questions-container{
        grid-template-columns: 1fr;
    }

    .question{
        padding: 1.5rem;
    }

    .achievements{
        margin-top: 2rem;
    }

    .achievements-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .achivement-left{
        width: 60%;
        margin: 0 auto;
    }

    .team-member{
        padding: 1rem;
    }

    .contact-container{
        gap: 1.5rem;
        margin-top: 3rem;
        padding: 1.2rem;
        height: auto;
    }

    .contact-left{
        width: auto;
        padding: 2rem;
        bottom: 0;
        height: 25rem;
    }

    .contact-left-img{
        margin: 2rem auto;
    }

    .contact-socials {
        gap: 1.2rem;
        font-size: 1.2rem;
    }

    .contact-form{
        margin: 3rem 1.5rem 1rem 0;
    }

    #back-to-top{
        right: 1.3rem;
    }  
}

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }

    #open-menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #open-menu-btn.bx-x{
        transform: rotate(180deg);
    }

    .nav-menu{
        position: absolute;
        top: 5rem;
        right: 5%;
        width: 18rem;
        height: fit-content;
        gap: 0;
        flex-direction: column;
        transition: .2s linear;
        display: none;
    }

    .nav-menu.active{
        display: block;
    }

    .nav-menu a:hover,.nav-menu a#current-page{
        color: var(--black-color);
        border-bottom: 0;
    }

    .nav-menu li{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        width: 100%;
        height: 6rem;
        opacity: 0;
        transform-origin: top right;
        animation: animateNavButtons .5s linear forwards;
    }

    .nav-menu li:nth-child(2){
        animation-delay: .3s;
    }

    .nav-menu li:nth-child(3){
        animation-delay: .4s;
    }

    .nav-menu li:nth-child(4){
        animation-delay: .5s;
    }

    .nav-menu li a{
        background-color: var(--primary-color);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover{
        background: var(--bg2-color);
        color: var(--white-color);
    }

    @keyframes animateNavButtons{
       0%{
        transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
       }
       100%{
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
       } 
    } *

    
    header{
        height: 100vh;
    }

    .header-container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .header-left p{
        margin-bottom: 1.3rem;
    }

    .categories h2{
        margin-bottom: 1rem;
    }

    .categories-right{
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;
    }

    .category-item{
        display: inline-block;
        padding: 1rem 1.5rem .6rem;
        margin-top: .5rem;
    }

    .category-item i{
        font-size: 1.5rem;
    }

    .category h5{
        margin: .5rem auto;
    }

    .category p {
        font-size: .8rem;
    }

    .courses-container{
        grid-template-columns: 1fr;
    }

    .footer-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
    }

    .footer-container > div h4{
        margin-top: 1.8rem;
    }

    .footer-1 p{
        margin-bottom: 0;
    }

    .footer-socials{
        justify-content: center;
    }

    footer ul li{
        margin-bottom: .7rem;
    }
    
    .achievement-cards{
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }

    .team-container{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .member-info *{
        margin-top: 1rem;
    }

    .contact-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 0;
    }

    .contact-left{
        bottom: 0;
        height: 26rem;
    }

    .contact-left-img{
        width: 90%;
        height: 10rem;
    }

    .contact-left h4{
        margin: 6rem auto 1rem auto;
    }

    .contact-right{
        width: 100vw;
    }

    .contact-form{
        padding-left: 1.5rem;
    }

    .form-name{
        flex-direction: column;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea{
        width: 100%;
    }
    
    #back-to-top{
        right: 0.5rem;
    } 
}
